body {
	height: 100%;
	width: 100%;
	top: 0;
	padding: 0px;
	margin: 0px;
}

.main {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.logo {
	height: 250px;
	width: 250px;
}

.logo-toolbar {
	height: 50px;
	width: 50px;
}

.signinwithgoogle {
	margin-top: 1em;
	height: 50px;
}

.login-text {
	font-size: 2em;
}

.login-panel {
	border: 1px solid #BBBBBB;
	margin: 3em;
	padding: auto;
	width: 50%;
	height: 50%;
}

.toolbar {
	top: 0;
	width: 100%;
	box-shadow: 0px 15px 10px -15px #111
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top-style: solid;
	border-top-color: #BBBBBB;
	border-top-width: 1px;
	text-align: center;
}
