<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>editorServlet</servlet-name>
    <servlet-class>de.hdm.itprojektss19.team03.scart.server.EditorServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>editorServlet</servlet-name>
    <url-pattern>/scart/editorservice</url-pattern>
    <url-pattern>/scartreport/editorservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>de.hdm.itprojektss19.team03.scart.server.ReportGeneratorImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/scartreport/reportgenerator</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>de.hdm.itprojektss19.team03.scart.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/scart/loginservice</url-pattern>
     <url-pattern>/scartreport/loginservice</url-pattern>
   <!--   <url-pattern>/scart/loginReport</url-pattern> -->
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
        <welcome-file>Scart.html</welcome-file>
    	<welcome-file>ScartReport.html</welcome-file>
  </welcome-file-list>

</web-app>
